[Desktop Entry]
Name=animatron
Type=Service
Name[ast]=animatron
Name[bg]=animatron
Name[ca]=animatron
Name[ca@valencia]=animatron
Name[cs]=animatron
Name[da]=animatron
Name[de]=animatron
Name[el]=animatron
Name[en_GB]=animatron
Name[eo]=animatron
Name[es]=animatron
Name[et]=animatron
Name[fi]=animatron
Name[fr]=animatron
Name[ga]=animatron
Name[gl]=animatron
Name[hu]=animatron
Name[it]=animatron
Name[ja]=animatron
Name[kk]=animatron
Name[km]=animatron
Name[ko]=animatron
Name[lv]=animatron
Name[nb]=animatron
Name[nds]=animatron
Name[nl]=animatron
Name[nn]=animatron
Name[pa]=animatron
Name[pl]=animatron
Name[pt]=animatron
Name[pt_BR]=animatron
Name[ro]=animatron
Name[ru]=animatron
Name[sr]=animatron
Name[sr@ijekavian]=animatron
Name[sr@ijekavianlatin]=animatron
Name[sr@latin]=animatron
Name[sv]=animatron
Name[tr]=animatron
Name[uk]=animatron
Name[x-test]=xxanimatronxx
Name[zh_CN]=animatron
Name[zh_TW]=animatron
Comment=Plasma animatron
Comment[ast]=Plasma animatron
Comment[ca]=Plasma animatron
Comment[ca@valencia]=Plasma animatron
Comment[cs]=Plasma animatron
Comment[da]=Plasma animatron
Comment[de]=Plasma animatron
Comment[el]=Plasma animatron
Comment[en_GB]=Plasma animatron
Comment[eo]=Plasma animatron
Comment[es]=Plasma animatron
Comment[et]=Plasma animatron
Comment[fi]=Plasma animatron
Comment[fr]=Plasma animatron
Comment[ga]=Plasma animatron
Comment[gl]=Plasma animatron
Comment[hu]=Plasma animatron
Comment[it]=Plasma animatron
Comment[ja]=Plasma animatron
Comment[kk]=Plasma animatron
Comment[km]=ប្លាស្មា animatron
Comment[ko]=Plasma animatron
Comment[lv]=Plasma animatron
Comment[nb]=Plasma animatron
Comment[nds]=Plasma animatron
Comment[nl]=Plasma animatron
Comment[nn]=Plasma animatron
Comment[pa]=ਪਲਾਜ਼ਮਾ animatron
Comment[pl]=Plazma animatron
Comment[pt]=Plasma animatron
Comment[pt_BR]=Plasma animatron
Comment[ro]=Plasma animatron
Comment[ru]=Plasma animatron
Comment[sr]=Плазмин animatron
Comment[sr@ijekavian]=Плазмин animatron
Comment[sr@ijekavianlatin]=Plasmin animatron
Comment[sr@latin]=Plasmin animatron
Comment[sv]=Plasma animatron
Comment[tr]=Plasma animatron
Comment[uk]=Плазма animatron
Comment[x-test]=xxPlasma animatronxx
Comment[zh_CN]=Plasma animatron
Comment[zh_TW]=Plasma animatron
Icon=animatron
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_animatron
X-KDE-PluginInfo-Name=animatron
X-KDE-PluginInfo-Author=spaceape
X-KDE-PluginInfo-Email=spaceape99@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
